/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

/* Remove focus */
select:focus { outline: none }

.container-civility { display: table; text-align: left; }
.radiobutton { width:91px; }
.mdl-checkbox { vertical-align: inherit !important; }
.plateforme { text-align: left; }
.mdl-checkbox.is-upgraded { padding-left: 30px; }
.logoAndroid { width: 15px; height: 18px; margin-right: 10px; }
.logo { width: 18px; height: 18px; margin-right: 10px; }
.civility { font-size: 15px; }