body{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: #37474f;
    text-rendering: optimizeLegibility;
}

.Back-to-top {
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 200;
}

.btn-orange {
    background: #FF7E00 !important;
    color: white !important;
}

.btn-orange:hover {
    background: #B25800 !important;
}

a {
    color: #00C5FF;
    text-decoration: none;
}

.justify{
    text-align: justify; 
}

h4 {
    font-size: 25px;
    margin-bottom: 10px !important;
    margin-top: 10px;
}

h5 {
    margin-top: -10px;
}

.background{
    text-align: center;
    padding: 50px;
}

.background-dark{
    background: #f5f5f5;
}

.background-dark-dark{
    background: #eceff1;
}

.site-header {
    background: #fff;
    color: #757575;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.sub{
    margin-bottom: 40px;
    margin-top: 20px;
    color: rgb(55,71,79);
    font-family: Roboto;
    font-weight: 300;
    line-height: 48px;
}
.subtitle{
    font-size: 50px;
}

/************************** MENU **************************/

nav>a{
    color: rgb(55,71,79) !important;
    font-family: "Roboto" !important;
    font-weight: 250 !important;
    font-size: 1.30rem !important;
  }

nav>a:hover{
    color: #008AB2 !important;
}
  
/************************** TITLE **************************/

.content {
    position: relative;
    z-index: 10;
    padding-top: 60px;
    padding-bottom: 90px;
}

.title-background {
    background: url(../img/keyboard.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    padding: 40px;
    min-height: 100%;
}
  
.title-background::before {
    content: "";
    display: block;
    -webkit-filter: blur(1px) brightness(0.5);
    -moz-filter: blur(1px) brightness(0.5);
    -ms-filter: blur(1px) brightness(0.5);
    -o-filter: blur(1px) brightness(0.5);
    filter: blur(1px) brightness(0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: inherit;
    z-index: 0;
}

.title-prenom{
    font-size: 85px;
    font-weight: 300;
}

.title-nom{
    font-size: 90px;
    font-weight: 280;
}

.title {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: whitesmoke;
    padding: 30px;
    padding-top: 150px;
 }
  
.title-cadre {
    color: white;
    padding: 17px;
    margin-bottom: 20px;
    border: 1px solid gray;
    display: inline-block;
    width: 70%;
}

.title-activite {
    font-size: 1.9em;
    line-height: 1.2;
}

.siren {
    font-weight: 400;
    font-size: 1.2em;
}

/************************** PRESENTATION **************************/

.pres-link {
    transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pres-link:hover {
    color: #19CBFF;
    text-decoration: underline;
}

.pres-infos {
    font-size: 1.2em;
    font-weight: 600;
    margin: 7px;
    text-decoration: none;
}

.pres-cv-txt{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 20px;
}

.mdl-layout__header-row {
    padding: 0 40px;
}
  
.mdl-layout.has-drawer .mdl-layout__header-row {
    padding: 0 40px 0 80px;
}

.cv-title {
    font-weight: 500;
    padding-top: 10px;
}

/************************** SERVICES **************************/

.services-title{
    font-size: 36px;
    padding-left: 4px;
    padding-right: 4px;
}

.services-text {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px;
    padding-bottom: 8px;
}

.services-cadre {
    border: 1px solid #f5f5f5;
    background: #fcfcfc;
    height: 400px;
    padding: 12px !important;
    min-width: 350px;
    margin: 2em auto 2em;
    padding: 3em 0;
    text-align: center;
}

.services-sur-mesure-cadre {
    height: auto;
    margin: 2em auto 2em;
    padding: 3em 0;
    text-align: center;
    min-width: 200px;
}

.services-sur-mesure-title-img {
    width: 200px;
}

.services-plateformes-cadre {
    height: auto;
    padding: 5px !important;
    min-width: 200px;
    margin: 2em auto 2em;
    padding: 2em 0;
    text-align: center;
}

.services-img {
    margin-top: 2px;
    width: 50px;
}

/************************** PLATEFORMES **************************/

.plateforme-cadre {
    margin : 28px;
    padding: 10px;
    background-color: #eceff1;
    text-align: center;
}

/************************** COMPETENCES **************************/

.comp-pie{
    margin: 0 auto;
    width: 104px;
    height: 52px;
    padding: 20px;
}

/************************** CONTACT **************************/

.contact-background {
    background: url(../img/lightbulb.svg) no-repeat;
    background-color: #dee2e4;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    padding: 40px;
    /*opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.contact{
    height: 52px;
    padding: 10px;
    width: 180px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 2px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.contact-send{
    background: #00C5FF;
    color: #fff;
}

.contact-send:hover{
    background: #008AB2;
}

/************************** FOOTER **************************/

.customFooter { 
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.mdl-mega-footer__drop-down-section { 
    margin-left: 10px !important; 
}

.mdl-mini-footer__left-section { 
    margin-left: 10px !important;
    text-align: center !important;
}

.mdl-mini-footer__right-section { 
    margin-right: 10px !important; 
    margin-left: 10px !important; 
    vertical-align: middle !important; 
    text-align: center !important; 
}

.footer-link:hover {
    color: #00C5FF;
}

.divUp { 
    padding: 0;
    width: 100%; 
}

.divDown { 
    background: #363636;
    padding: 0;
    width: 100%; 
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;    
}

.footer-logo{
    width: 55px;
    padding: 10px;
    margin: 0  auto;
}

.center-footer{
    text-align: center;
    width: 100%;
}

/************************** MEDIA QUERIES **************************/

@media screen and (min-width: 750px) {
    .mdl-layout__header-row {
        height: 65px;
    }
}

/* Les mobiles */
@media screen and (max-width: 680px){

    .contact-background {
        background-size: auto !important;
    }
}

/* Les tablettes ???? */
@media screen and (max-width: 750px) {

    .background{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .subtitle{
        font-size: 30px;
        margin-bottom: 10px !important;
        margin-top: 5px;
    }

    h5 {
        margin-top: -5px;
    }
    
    /************************** TITLE **************************/

    .title-background {
        padding: 10px;
    }

    .title {
        padding: 18px;
        padding-top: 70px;
    }

    .title-prenom{
        font-size: 42px;
        font-weight: 400;
    }
    
    .title-nom{
        font-size: 45px;
        font-weight: 500;
    }

    .title-cadre {
        padding: 10px;
        width: 90%;
    }

    .title-activite {
        font-size: 1.2em;
    }

    .siren {
        font-size: 1em;
    }

    /************************** PRESENTATION **************************/

    .pres-infos{
        font-size: 1.2em;
        font-weight: 500;
        margin: 5px;
    }

    .plateforme-cadre {
        margin : 20px;
        padding: 2px;
        text-align: center;
        height: auto;
    }

    /************************** SERVICES **************************/

    .services-plateformes-cadre {
        margin: 1em auto 1em;
        padding: 1px;
    }

    .services-cadre{
        width: 90%;
        min-width: 150px;
        height: auto;
    }

    .services-text {
        font-size: 1.1em;
        margin: 2px;
    }

    .services-sur-mesure-cadre {
        padding: 10px !important;
        margin: 1em auto 1em;
        padding: 2em 0;
    }

    .services-img {
        width: 40px;
    }

    .services-sur-mesure-title-img {
        width: 90px;
    }

    /************************** COMPETENCES **************************/

    .comp-pie{
        width: 80px;
        height: 40px;
        padding: 12px;
    }

    /************************** FOOTER **************************/

    .mdl-mini-footer__left-section { 
        text-align: center !important; 
    }
    
    .mdl-mini-footer__right-section { 
        text-align: center !important; 
    }

    .mdl-mega-footer__heading-checkbox {
        margin-top: 0 !important;
    }
}